---
---

@import "{{ site.theme }}";

header {
  display: none;
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  color: #40aae3;
}

td {
  vertical-align: middle;
}

img {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

h1 {
  text-align: center;
}

ul {
  margin-bottom: 0px;
}
